<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0">
    <profiles>
        <profile>
            <id>github-packages</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/temporal-rift/*</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/temporal-rift/*</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
</settings>
